# Flask
*.pyc
__pycache__/
.env
instance/
.pytest_cache/
*.db
*.sqlite3

# Next.js
node_modules/
.next/
.swc/
*.env
out/
*.log

# Three.js
node_modules/
build/
dist/
*.log

# TypeScript
*.tsbuildinfo
*.d.ts
*.js
*.jsx
*.map

# General
.DS_Store
Thumbs.db
*.bak
*.tmp
*.log
